services:
  postgres:
    image: postgres:16-alpine
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5431:5432"
    networks:
      - rust-boilerplate-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  # NATS Messaging Server
  nats:
    image: nats:latest
    ports:
      - "4223:4222" # Client connections
      - "8223:8222" # HTTP monitoring
      - "6223:6222" # Routing port for clustering
    command: ["--store_dir=/data"]
    volumes:
      - nats_data:/data
    networks:
      - rust-boilerplate-network

  memcached:
    image: memcached:latest
    container_name: memcached
    networks:
      - rust-boilerplate-network
    ports:
      - "11211:11211"
    environment:
      - MEMCACHED_MAX_MEMORY=64m # Set the maximum memory usage
      - MEMCACHED_THREADS=4 # Number of threads to use

  # node_exporter:
  #   image: quay.io/prometheus/node-exporter:latest
  #   container_name: node_exporter
  #   restart: unless-stopped
  #   pid: host
  #   networks:
  #     - rust-boilerplate-network
  #   volumes:
  #     - ./tmp/exporter:/host:ro,rslave
  #   command: "--path.rootfs=/host"

  ### FOR MONITOR METRICS
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    networks:
      - rust-boilerplate-network
    volumes:
      - ./deployment/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
      - --web.enable-otlp-receiver
    ports:
      - "9090:9090"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:9090/-/healthy"]
      interval: 10s
      timeout: 5s
      retries: 5

  # k6-tracing:
  #   image: ghcr.io/grafana/xk6-client-tracing:v0.0.9
  #   environment:
  #     - ENDPOINT=tempo:4317
  #   networks:
  #     - rust-boilerplate-network
  #   restart: always
  #   depends_on:
  #     - tempo

  ### FOR SHOW TRACES
  tempo:
    image: grafana/tempo:2.10.0
    container_name: tempo
    command: ["-target=all", "-config.file=/etc/tempo.yaml"]
    user: root
    networks:
      - rust-boilerplate-network
    volumes:
      - ./deployment/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/var/tempo
    ports:
      - "3200:3200" # tempo
      - "2345:2345" # delve debug server
    depends_on:
      - memcached

  ### FOR DASHBOARD
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    networks:
      - rust-boilerplate-network
    volumes:
      - grafana_data:/var/lib/grafana

  ### FOR MONITOR CONTAINER
  # cadvisor:
  #   image: gcr.io/cadvisor/cadvisor
  #   container_name: cadvisor
  #   volumes:
  #     - /:/rootfs:ro
  #     - /var/run:/var/run:ro
  #     - /sys:/sys:ro
  #     - /var/lib/docker/:/var/lib/docker:ro
  #     - /dev/disk/:/dev/disk:ro
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - /etc/machine-id:/etc/machine-id:ro
  #     - /var/lib/dbus/machine-id:/var/lib/dbus/machine-id:ro
  #   networks:
  #     - rust-boilerplate-network
  #   privileged: true
  #   command:
  #     - "-port=8098"
  #     - "--docker_only=true" # Only monitor Docker containers

  ### FOR SHOW LOGS
  loki:
    image: grafana/loki:latest
    container_name: loki
    command: -config.file=/etc/loki/loki-config.yaml
    user: "root"
    ports:
      - "3100:3100"
    volumes:
      - ./deployment/loki/loki.yaml:/etc/loki/loki-config.yaml:ro
      - loki_data:/data/loki
    networks:
      - rust-boilerplate-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --tries=1 -O - http://localhost:3100/ready | grep -q -w ready || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  ### FOR COLLECTOR TRACE LOGS METRIC
  vector:
    image: timberio/vector:latest-alpine
    container_name: vector
    volumes:
      - ./deployment/vector/vector.yml:/etc/vector/vector.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro # Required for docker_logs source
      - ./logs:/services/logs:rw
    ports:
      - "9598:9598" # Prometheus metrics endpoint
      - "4317:4317" # Tempo OTLP GRPC
      - "4318:4318" # Tempo OTLP HTTP
    networks:
      - rust-boilerplate-network
    depends_on:
      - loki
      - tempo

volumes:
  tempo_data:
  prometheus_data:
  grafana_data:
  loki_data:
  postgres_data:
  nats_data:

networks:
  rust-boilerplate-network:
    driver: bridge
